# Visual Studio temporary files
.vs/
*.suo
*.user
*.sln.docstates

# Build results from Visual Studio
[Dd]ebug/
[Rr]elease/
x64/
Win32/
build/
bld/
[Bb]in/
[Oo]bj/

# Executables and intermediate files
*.exe
*.dll
*.lib
*.ilk
*.pdb
*.obj
*.tlog
*.pch
*.idb

# Log files
*.log